{% if not user %}
<form
        onsubmit="$(this).request('onSignin', {
            url: '{{ __SELF__.signInTarget | raw }}'
            {% if __SELF__.hasRedirect %}
            , data: {
                redirect: '{{ __SELF__.redirect }}'
            }
            {% endif %}
            }); return false;">
    <div class="form-group">
        <label for="signinLogin">Login</label>
        <input name="email" type="text" class="form-control" id="signinLogin" placeholder="Enter your login">
        <div id="email_validation"></div>
    </div>

    <div class="form-group">
        <label for="signinPassword">Password</label>
        <input name="password" type="password" class="form-control" id="signinPassword" placeholder="Enter your password">
        <div id="password_validation"></div>
    </div>
    {% if redirect %}
        <input type="hidden" name="redirect" value="{{ redirect }}" />
    {% endif %}

    <button type="submit" class="btn btn-default">Sign in</button>
</form>
{% endif %}
